{% extends 'base.html.twig' %}

{% block title %}New Chapter{% endblock %}

{% block body %}
    <h1>Create new Chapter</h1>

    {{ include('chapter/_form.html.twig') }}

    <a href="{{ path('chapter_index') }}">back to list</a>
{% endblock %}
