body {
  background: #EEF0F8;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 350px;
  height: 100%;
  min-height: 100%;
}

html {
  height: 100%;
  min-height: 100%;
}

main {
  min-height: 90%;
  padding-bottom: 5rem;
}

h1 {
  color: $light-color;
  font-size: 1.7rem;
}

.subheader {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.nav-tabs .nav-link.active,.nav-link, .nav-tabs .nav-item.show .nav-link, a.nav-link:hover, a.nav-link:focus {
  color: $active-tab-color;
  background-color: #fff;
  border-color: transparent;
  border-bottom-color: $active-tab-color;
  padding-bottom: 20px;
}

.nav-tabs {
  border-bottom: 1px solid transparent;
}

a.nav-link {
  color: $tab-color;
  text-decoration: none;
  background-color: transparent;
}
.nav-tabs .nav-link:hover, a.nav-link:hover, a.nav-link:focus {
  color: $active-tab-color;
  text-decoration: none;
  border-color: transparent transparent transparent;
  border-bottom-color: $active-tab-color;
}

.card-header-tabs-line {
  padding-bottom: 0;
}

td {
  white-space: nowrap;
  overflow: hidden;
}

.hidden-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-table th {
  border-top-style: none;
}

.navi-link {
  display: block;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 500;
  font-size: 1rem;
  color: #3F4254;
}
.navi-link.active, a.navi-link:hover, a.navi-link:focus {
  text-decoration: none;
  color: #6993FF;
  background-color: #F3F6F9;
}

.btn-act {
  margin-left: 8px;
}

.export h1 {
  color: black;
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
}

.export i {
  display: block;
  text-align: right;
  width: 100%;
}
.export h2 {
  padding-bottom: 50px;
  padding-top: 50px;
}
.export h3 {
  padding-bottom: 30px;
}

.sort-up {
  position: absolute;
  padding-bottom: 8px;
  padding-top: 8px;
  left: 8px;
}

.sort-down {
  position: absolute;
  //right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  left: 36px;
}

.sort-buttons {
  display: none;
}

.card.card-custom > .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sortable-menu-active {
  margin-left: 40px;
}

.card-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gutter-b {
  margin-bottom: 25px;
}

.card.card-custom > .card-header .card-title, .card.card-custom > .card-header .card-title .card-label {
  font-weight: 500;
  font-size: 1.275rem;
  color: #181C32;
}

.footer {
  clear: both;
  position: relative;
  height: 4rem;
  margin-top: -4rem;
}

.opacity-75 {
  opacity: 0.75 !important;
}

.hover-opacity-100.active, .hover-opacity-100:hover {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  opacity: 1 !important;
}

.custom-editor {
  height: auto;
  min-height: 550px;
}
