<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i&display=swap" rel="stylesheet" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body style="background-image: url(/assets/img/w2l_bg.png)">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('project_index') }}">Writer2l</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% if app.user %}
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </nav>
        <main role="main">
            <div class="container-fluid">
                <div class="row subheader">
                    <div class="col-md-6">
                        <h1>{% block pageTitle %}Welcome!{% endblock %}</h1>
                    </div>
                    <div class="col-md-6"></div>
                </div>
                {% block body %}{% endblock %}
            </div>
            <div class="gutter-b">
            </div>
        </main>
        <div class="footer bg-white py-4 d-flex flex-lg-column " id="kt_footer">
            <div class=" container  d-flex flex-column flex-md-row align-items-center justify-content-between">
                <div class="text-dark order-2 order-md-1">
                    <span class="text-muted font-weight-bold mr-2">2020©</span>
                    <a href="//app.writer2l.com" target="_blank" class="text-dark-75 text-hover-primary">Writer2l</a>
                </div>
                <div class="nav nav-dark order-1 order-md-2">
                    <a href="//writer2l.com" target="_blank" class="nav-link pr-3 pl-0">writer2l.com</a>
                    <a href="//github.com/aleksejs1/writer2l" target="_blank" class="nav-link px-3">Github</a>
                </div>
            </div>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
