{% extends 'base.html.twig' %}

{% block title %}Edit Scene{% endblock %}

{% block body %}
    <h1>Edit Scene</h1>

    {{ include('scene/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('project_show_chapter', {"project": scene.chapter.project.id, "chapter": scene.chapter.id}) }}">back</a>

    {{ include('scene/_delete_form.html.twig') }}
{% endblock %}
